/* header */
.header-img{
	width: 100%;
	position: absolute;
	height: auto;
	z-index: -1;
}
.header-container{
	position: relative;
	height: auto;
}
.header-h2{
	position: relative;
	font-size: 42px;
	font-family: 'Poppins-extrabold';
	text-transform: capitalize;
	color: white;
	max-width: 1089px;
	width: 100%;
	top: 146px;
	left: 50%;
	transform: translate(-50%);
	z-index: 1;
}
.header-navi{
	position: absolute;
	position: fixed;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 1089px;
	width: 100%;
	z-index: 10000;
	left: 50%;
	transform: translate(-50%);
	margin-top: 30px;
}
.header-navi nav ul{
	display: flex;
	flex-wrap: wrap;
}
.header-navi nav ul li a{
	font-size: 12px;
	font-family: 'Poppins-semibold';
	margin-left: 49px;
	text-transform: uppercase;
}
.header-logo{
	font-size: 14px;
	font-family: 'Poppins-bold';
	color: #fff;
	text-transform: capitalize;
}
.navi-home{
	color: #5863F8;
}
.nav-li-a{
	color: #fff;
}
/* section */
section{
	margin-top: 414px;
	margin-bottom: 90px;
}
.section1-wrapper{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	height: auto;
}
.section1-left-block{
	display: flex;
	flex-wrap: wrap;
	max-width: 444px;
	width: 100%;
	height: 388px;
	margin: auto 0;
}
.section1-left-block h3{
	width: 100%;
	font-size: 14px;
	font-family: 'Poppins-bold';
	color: #5863F8;
	text-transform: uppercase;
}
.section1-left-block h2{
	font-size: 42px;
	font-family: 'Poppins-extrabold';
	line-height: 56px;
}
.section1-left-block-p1{
	font-size: 16px;
	font-family: 'Poppins-medium';
	line-height: 25px;
}
.section1-left-block-p2{
	font-size: 14px;
	font-family: 'Poppins-regular';
	line-height: 21px;
}
.section1-left-block-read-more{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #5863F8;
	color: white;
	font-family: 'Poppins-regular';
    font-size: 14px;
    max-width: 184px;
    width: 100%;
    padding: 15px 0;
}
.section1-right-block{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 536px;
	width: 100%;
	height: auto;
}
.section1-right-block-img1{
	width: 48.5%;
}
.section1-right-block-img2{
	width: 48.5%;
}
.section1-right-block-img3{
	width: 100%;
	margin-top: 16px;
}
/* footer */
.footer-wrapper{
	display: flex;
	position: relative;
	width: 100%;
	flex-wrap: wrap;
}
.footer-wrapper-img{
	position: absolute;
	width: 100%;
	z-index: -1;
}
.footer-head-text{
	max-width: 376px;
	position: absolute;
	width: 100%;
}
.footer-head-text h3{
	width: 100%;
	font-size: 14px;
	font-family: 'Poppins-bold';
	color: #5863F8;
	text-transform: uppercase;
}
.footer-head-text h2{
	font-family: 'Poppins-extrabold';
	font-size: 42px;
	line-height: 56px;
	color: white;
}
.footer-container{
	max-width: 1089px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;

}
.footer-container-blocks{
	max-width: 260px;
	width: 100%;
	height: 260px;
	background-color: green;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: space-between;
}
.footer-container-blocks h4{
	font-family: 'Poppins-semibold';
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	max-width: 160px;
	width: 100%;
}
.footer-container-blocks p{
	font-family: 'Poppins-medium';
	font-size: 14px;
	line-height: 21px;
	max-width: 221px;
	width: 100%;
	text-align: center;
}
.footer-container-blocks-icon{
	max-width: 59px;
	width: 100%;
	height: 59px;
	background-color: #5863F8;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}