/* header */
.header-img-wrapper{
	width: 100%;
}
.header-img{
	width: 100%;
	position: absolute;
	z-index: -1;
}
.header-container{
	position: relative;
}
.header-h2{
	position: relative;
	/*display:  flex;*/
	font-size: 42px;
	font-family: 'Poppins-extrabold';
	text-transform: capitalize;
	color: white;
	max-width: 1089px;
	width: 100%;
	top: 146px;
	left: 50%;
	transform: translate(-50%);
	z-index: 1;
}
.header-navi{
	position: absolute;
	display: flex;
	justify-content: space-between;
	max-width: 1089px;
	width: 100%;
	z-index: 10000;
	/*top: 50%;*/
	left: 50%;
	transform: translate(-50%);
	margin-top: 30px;
}
.header-navi nav ul{
	display: flex;
}
.header-navi nav ul li a{
	font-size: 12px;
	font-family: 'Poppins-semibold';
	margin-left: 49px;
	text-transform: uppercase;
}
.header-logo{
	font-size: 14px;
	font-family: 'Poppins-bold';
	color: #fff;
	text-transform: capitalize;
}
.navi-home{
	color: #5863F8;
}
.nav-li-a{
	color: #fff;
}
/* section */
section{
	margin-top: 414px;
}